/* html{

} */

body{
background-color: powderblue;

background-color: rgb(108, 208, 238);

background-color: #AAAAAA;
background-color:hsl(197,71,73);
font-family: 'Courier New', Courier, monospace;
}

/* header{

}

main{

}

footer{

} */